@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    --preto: #090809;
    --amarelo: #ECA72C;
    --branco: #F2F4F3;

    --Caveat: 'Caveat', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--preto);
   }