@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
    --preto: #090809;
    --amarelo: #ECA72C;
    --branco: #F2F4F3;

    --Caveat: 'Caveat', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: var(--preto);
}

.titulo {
    display: flex;
    justify-content: center;
    color: var(--branco);
    font-family: var(--Caveat);
    font-size: 5rem;
    text-decoration: none;
}

.titulo-destaque {
    color: var(--amarelo);
    transition: 0.7s;
}

.titulo-destaque:hover {
    color: var(--branco);
    transition: 0.7s;
}

.conteudo {
    display: flex;
    justify-content: center;
    padding-top: 5.9rem;
    color: var(--branco);
    font-family: var(--Caveat);  
    font-size: 2.5rem;
}

footer {
    padding: 24px;
    color: var(--amarelo);
    font-family: var(--Caveat);
    position: sticky; 
    top: 100%;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    transition: 0.5s;
}

footer:hover {
    color: var(--branco);
    transition: 0.5s;
}

.apresentacao-conteudo {
    display: flex;
    padding-top: 3rem;
    font-size: 5rem;
    color: var(--amarelo);
    font-family: var(--Caveat);
    justify-content: center;
    transition: 0.5s;
}

.apresentacao-conteudo:hover {
    color: var(--branco);
    transition: 0.5s;
}